.head-title, .task-list{
    text-align: center;
}

.task-container{
    background-color: lightgray;
}

.task-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.task-input input {
    height: 1rem;
}

.card-task{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.card {
    background-color: green;
    padding: .5rem;
}